body {
  font: 14px "Century Gothic", Futura, sans-serif;
  background-color: #BBB;
  margin: 20px;
}

ol, ul {
  padding-left: 20px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  border-width: 0px 1px 1px 0px;
  color: #FF0000;
  margin: 5px;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
}

.game-info {
  margin-left: 3px;
  margin-top: 10px;
}

button {
  width: 150px;
  border: 0px solid #888;
  border-width: 0px 1px 1px 0px;
  margin: 3px 0px;
}

.game-board {
  margin-left: 30px;
}

.direction-toggle {
  margin-left: 23px;

}
