:root {
  --bgd-main: #2C3F50;
  --txt-main: #FFFFFF;
  --bgd-square: transparent;
  /* --bgd-square-win: #27AE60; */
  --bgd-square-win: transparent;
  --txt-square-win: #27AE60;
  --brd-square: #495B6F;
  --txt-square: #FFFFFF;
  --bgd-btn: #27AE60;
  --bgd-btn-clicked: #e74c3c;
  --brd-btn: #27AE60;
  --txt-btn: #FFFFFF;
  --brd-width-square: 5px;
  --bgd-history-btn: #495B6F;
}

body {
  font: 34px "Century Gothic", Futura, sans-serif;
  background-color: var(--bgd-main);
  color: var(--txt-main);
  margin: 20px;
}

ol, ul {
  /* padding-left: 20px; */
  padding-inline-start: 0px;
  font: 12px "Century Gothic", Futura, sans-serif;
}

ol button, .direction-toggle {
  font: 12px "Century Gothic", Futura, sans-serif;
  margin: 0px;
  padding: 0px;
  border: 1px solid var(--bgd-main);
  height: 24px;
  background-color: var(--bgd-history-btn);
  border-radius: 0px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  /* background: transparent;  */ /*SET IN JS*/
  border: 0px solid var(--brd-square);
  border-radius: 0px;
  color: var(--txt-square);
  float: left;
  font-size: 70px;
  font-weight: bold;
  line-height: 34px;
  text-align: center;
  margin: 0px;
  padding: 0px;
  width: 150px;
  height: 150px;
  box-sizing: content-box
}

.square.row2{
  border-top-width: var(--brd-width-square);
  border-bottom-width: var(--brd-width-square);
}

.square.col2{
  border-right-width: var(--brd-width-square);
  border-left-width: var(--brd-width-square);
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
}

.game-info {
  text-align: center;
  /* margin-left: 3px;
  margin-top: 10px; */
}

button {
  width: 150px;
  height: 40px;
  border-radius: 4px;
  color: var(--txt-btn);
  font: 16px "Century Gothic", Futura, sans-serif;
  background-color: var(--bgd-btn);
  /* border: 0px solid #888; */
  border-width: 0px;
  margin: 0px;
}

button:focus {
  outline:0;
}

.game-board {
  /* margin-left: 30px; */
}

.direction-toggle {
  /* margin-left: 23px; */

}

.centering-wrapper {
  text-align: center;
}

.centering-target {
  display: inline-block;
}

.spacing-wrapper {
  display: flex;
  justify-content: space-between;
  width: 360px;
}

.game-info div {
  margin-top: 40px;
}

.game-info div div{
  margin-top: 0px;
}


